.techStack hr {
    border-bottom: 2px solid #138781
}

.techStack h2 {
    font-weight: bold;
    color: #138781
}

.TechStack:hover {
    background-color: #138781;
    color: white;
    border: none;
    transition: 1s;
}