.container h2{
    color: #138781;
    font-weight: bold;
}
.container hr{
    border-bottom: 2px solid #138781;
}
.vertical-timeline-element-title{
    color:#138781
}
.experience{
    background-color:rgba(128, 128, 128, 0.101)
}
.vertical-timeline-element--work.in-view {
    transition: transform 0.5s, opacity 0.5s;
    transform: translateX(0);
    opacity: 1;
}

.vertical-timeline-element--work {
    transform: translateX(-100px); /* Start position to the left */
    opacity: 0;
}

